@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

// Font
$font-base: 'Kulim Park', sans-serif;

$fsz-main-title: 3em;

// Colors
$menu-base: rgba(70,70,80,1);
$menu-darker: rgba(60, 60, 70, 1);

$der: rgb(62, 168, 255);
$die: rgb(255, 123, 145);
$das: rgb(253, 255, 118);

$correct: rgb(131, 255, 187);
$incorrect: rgb(255, 166, 166);